:root{
    --yellow: #FFB000 ;
    --white: #FFFFFF;
}

.carousel-item{
    height: 95vh;
    min-height: 300px;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.carousel-caption{
    color: var(--white) !important;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-carousel{
    background-color: var(--yellow);
    border: 2px ;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}
.btn-carousel:hover{
    background-color: #FFA41B;
}